.service-container{
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/background_sevice.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(20%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    font-weight: bolder;
    font-style: italic;
    text-shadow: #FC0 1px 0 100px;
    text-align: center;
}

.visible{
    opacity: 1;
    filter: brightness(75%);
}
